from finny.views import RestfulView

from {{ app_name }}.boot import db
from resources.{{ original_name }}.model import {{ name }}

class {{ plural_name }}View(RestfulView):
  model = {{ name }}
  db = db
