from finny.views import RestfulView

from {{ app_name }}.boot import db
from resources.{{ name }}.model import {{ name|capitalize }}

class {{ plural_name|capitalize }}View(RestfulView):
  model = {{ name|capitalize }}
  db = db
